@{
    ViewData["Title"] = "Hệ thống quản lý đồ án tốt nghiệp";
}

<!-- Nơi trang trí cho web của mình -->
<!-- Nội dung khai báo các widget -->
<div class="container mt-5">

    <!-- Banner -->
    <div class="p-4 border rounded shadow-sm h-100"
         style="
            background: linear-gradient(135deg, #eafffd, #f5feff);
            color: black;
            border-radius: 40px;
            text-align: center;
        ">
        <h2 class="display-5" style="font-weight: 500;">CNPM: Website quản lí đồ án tốt nghiệp</h2>
        <p class="mt-3"
           style="
                font-size: 20px;
            ">
            Nền tảng hỗ trợ sinh viên và giảng viên quản lý đề tài, theo dõi tiến độ & chấm điểm.
        </p>
    </div>

    <!-- Tính năng -->
    <div class="row text-center mt-5">
        <h2 class="mb-4">Các chức năng chính</h2>

        <div class="col-md-4 mb-4">
            <div class="p-4 border rounded shadow-sm h-100"
                 style="
                    background: linear-gradient(135deg, #eafffd, #f5feff);
                    color: black;
                ">
                <h4>Quản lý đề tài</h4>
                <p>Sinh viên xem danh sách đề tài, đăng ký & theo dõi trạn  g thái phê duyệt.</p>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="p-4 border rounded shadow-sm h-100"
                 style="
                    background: linear-gradient(135deg, #eafffd, #f5feff);
                    color: black;
                ">
                <h4>Theo dõi tiến độ</h4>
                <p>Upload báo cáo tiến độ, nhận phản hồi từ giảng viên, lưu lịch sử làm việc.</p>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="p-4 border rounded shadow-sm h-100"
                 style="
                    background: linear-gradient(135deg, #eafffd, #f5feff);
                    color: black;
                ">
                <h4>Chấm điểm</h4>
                <p>Giảng viên theo dõi tiến độ và chấm điểm đồ án của sinh viên.</p>
            </div>
        </div>
    </div>

</div>
